:root {
  --body-bg:  #e6f1f0;
  --main-title: #3caea3;
  --sub-title: #2c7a7b;
  --form-background: #f0f5f5;
  --input-text: #333333;
  --input-label: #333333;
  --input-bg: #ffffff;
  --input-border: #d4dfe0;
  --span-txt: #ffffff;
  --span-bg: #2c7a7b;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--body-bg);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
